<h1> [NEW USER VIEW] Create a user: </h1>

<section class="page">
  <div class="centered-box">
    <h1>New User</h1>

    <form action="<%= user_url %>" method="post">

      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">

      <label for="user_email">Email</label>

      <input type="text"
        name="user[email]"
        id="user_email"
        value="">
      <br>

      <label for="user_password">Password</label>

      <input type="password"
        name="user[password]"
        id="user_password"
        value="">
      <br>

      <input type="submit">

    </form>
  </div>
</section>