<h1> [NEW SESSION VIEW] Login to GrooveTube: </h1>

<form action="<%= session_url %>" method="post">
    <label for="email">Email:</label>
    <input id="email" type="text" name="user[email]" value="">
    <br/>
    <label for="password">Password:</label>
    <input id="password" type="password" name="user[password]" value="">
    <br/>
    <input type="submit" value="Login">
</form>